<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <h1 class="title">Bem Vindo ao Estoque!</h1>
        <p class="description">Entre com sua conta e use o serviço do estoque.</p>

        <form class="form" onsubmit="return authenticateUser(event)">
            <div class="input-group">
                <label for="email" class="label"><strong>E-mail</strong></label>
                <input type="email" id="email" placeholder="Digite o seu e-mail aqui" class="input">
            </div>
            <div class="input-group">
                <label for="password" class="label"><strong>Senha</strong></label>
                <input type="password" id="password" placeholder="Digite sua senha aqui" class="input">
                <span class="icon-eye" onclick="togglePassword()">👁️</span>
            </div>

            <div class="options">
                <label>
                    <input type="checkbox" id="remember"> Lembrar
                </label>
                <a href="#" class="forgot-password">Esqueceu a senha?</a>
            </div>

            <button type="submit" class="btn-login">Entrar</button>
        </form>
        <div id="error-message" style="display:none; color: red;">E-mail ou senha inválidos.</div>

        <!--
        <div class="divider">
            <span class="line"></span>
            <span class="or">ou</span>
            <span class="line"></span>
        </div>

        <button class="btn-google">
            <img src="https://img.icons8.com/?size=100&id=V5cGWnc9R4xj&format=png&color=000000" alt="Ícone do Google"
                class="google-icon">
            Inscreva-se com o Google
        </button>

        <p class="signup-text">
            Não tem uma conta? <a href="criar_usuario.html" class="signup-link"><strong>Inscrever-se</strong></a>
        </p>
        -->

    </div>

    <script>
        function togglePassword() {
            const passwordInput = document.getElementById("password");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }

        async function authenticateUser(event) {
            event.preventDefault();

            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const errorMessage = document.getElementById("error-message");

            if (!email || !password) {
                errorMessage.textContent = "Preencha todos os campos!";
                errorMessage.style.display = "block";
                return;
            }

            try {
                const response = await fetch("/api/admin/login", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ email, password }),
                });

                const data = await response.json();

                if (!response.ok) {
                    throw new Error(data.message || "Erro ao realizar login.");
                }

                localStorage.setItem("token", data.token);
                window.location.href = "/";
            } catch (error) {
                console.error("Erro:", error);
                errorMessage.textContent = error.message;
                errorMessage.style.display = "block";
            }
        }
    </script>

    <script src="/js/script.js"></script>
</body>

</html>